<div id="add-form-container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Divulgue a vaga preenchendo o formulário</h1>
            </div>
            <div id="form-box" class="col-md-12">
                <h2>Preencha os dados da melhor forma possível para encontrar mais rápido possível seu dev!</h2>
                <form action="">
                    <div class="form-group">
                        <label for="title">Título da vaga:</label>
                        <input type="text" id="title" name="title" class="form-control" placeholder="Digite o título da vaga" required>
                        <small id="titleHelp" class="form-text text-muted">O título é muito importante, atente-se</small>
                    </div>
                    <div class="form-group">
                        <label for="desc">Descrição da vaga:</label>
                        <textarea type="text" id="desc" name="desc" class="form-control" placeholder="Digite as atividades do desenvolvedor" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="company">Empresa contratante:</label>
                        <input type="text" id="company" name="company" class="form-control" placeholder="Digite a empresa que irá contratar">
                        <small id="titleHelp" class="form-text text-muted">Caso queira deixar anônima, não preencha esse campo</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email para contato:</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Digite o email para contato" required>
                        <small id="titleHelp" class="form-text text-muted">O título é muito importante, atente-se</small>
                    </div>
                    <div class="form-group">
                        <label for="salary">Remuneração:</label>
                        <input type="text" id="salary" name="salary" class="form-control" placeholder="Digite o salário da vaga" required>
                    </div>
                    <input type="hidden" name="nem_job" value="1">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>